STRING_SESSION = "BQCGRSCyazrsfTw9FKbM7jmhGiOnBQxodbs3TgzeUCs0zgtKzDkSEXxZ2W3IWlRPoBTCGCQQ7E7HK_L7ePdyUvmJmAVhJTXP0Q-cnUbXUhGzjnGHIkd9hJuoVA05xnaS99x_LTEz3BbIRAQQl-uIPTgse04Z3R2oTlJeAZk8oSqYhKd5I9otNXZlGGzyM62ZnmUQz41zPC15o6G_52XUBPN1QIldBfSWK5y-X9ILUiqRJ3gO17kcgIvZ0nyrsBQrvukp73hR0rPbYiwlWRVcwfumODwms023XDfoVqH2WtfA6-7coYgRYxex22FJfji79SQKiSpdfHefagjq2Nv2dIgbAAAAAT2sfBkA" # A pyrogram String Session

BOT_TOKEN = "5468931327:AAGtFTfw42qHobf91iQD-6MWoZPZ55PnXnc" # Get a token from @botFather

API_ID = "19360347" # Get this value from https://my.telegram.org

API_HASH = "b73dee54ba45d3f9d1480f1be9f1339b" #  Get this value from https://my.telegram.org

SUDO_USERS = "5329681433" # For multiple Users Use Space

DURATION_LIMIT = "54000" # In Mins (EX :- 60)

ASSISTANT_NAME = "5329681433" # Fill there Your Assistant Username without @

BOT_USERNAME = "Romeo_RJ_music_1bot" # fill there Your Bot Username Without @

UPDATES_CHANNEL = "GirlboyDp143" # Support Channel Link if you have any, Leave blank if no support. Your Username must start without @

GROUP_SUPPORT = "All_time_masti_official" #Support Group Link if you have any, Leave blank if no support. Your Username must start without @
