STRING_SESSION = "BQCtKFWEBg82PfVBPc1i1TQtVN_StW5u5Wg2-3apGb6XrFPugu56RlP83jA-ENhYlf-1Ylws36ZoroVLolrxWm7dgdt7pRYQJawF9C9F-C9_PP0RWernYpTEyMUkxKU7er4crjEhGw4ILbDdRLYwA6Ul8q_4Qc-9VkJo_HOLJnTg5XH4lVjEG3Ue2ZxB3nqPqK8g49paf2AmqoV8VHqTL7ebdFMGFmhLj9Iw55JbAvLNrR4TqK11Ax4O7sRYiljQ1tj_MvKu2cZTn8VccVFpz4eoV6cOSUNgSOO2D7ZN9qxl-RgHEKJEqMDC_FoagNex2ZUyYUee82xqWeln1ATj-EFoAAAAAT2sfBkA" # A pyrogram String Session

BOT_TOKEN = "5468931327:AAGtFTfw42qHobf91iQD-6MWoZPZ55PnXnc" # Get a token from @botFather

API_ID = "19360347" # Get this value from https://my.telegram.org

API_HASH = "b73dee54ba45d3f9d1480f1be9f1339b" #  Get this value from https://my.telegram.org

SUDO_USERS = "5329681433" # For multiple Users Use Space

DURATION_LIMIT = "60" # In Mins (EX :- 60)

ASSISTANT_NAME = "5329681433" # Fill there Your Assistant Username without @

BOT_USERNAME = "Romeo_RJ_music_1bot" # fill there Your Bot Username Without @

UPDATES_CHANNEL = "" # Support Channel Link if you have any, Leave blank if no support. Your Username must start without @

GROUP_SUPPORT = "" #Support Group Link if you have any, Leave blank if no support. Your Username must start without @
