STRING_SESSION = "BQDCjr4AT_-nALZTn_ug6jF_dwrwW_E5dDweBuK4ZLi1xyqJDJFGt09WzMn8-1DTVphS2ulRAK7JJFQE0Py0IWbskVnDbkRiFBDWW7Q989zpNIkTZOuK0koESI5gsY7ChviWE49xzF9NaMacO-p8xRSaWbBzzu6JOGXqukQRlqgHwqJhROTkrzcjIKj_szaC1SZW3Vx0G5p666J4bTHbyoOH78uWpuMwPEw4gR8rB5YJLIac0ns51JfLX_hjYc3xi4WkNmim76KbGEfRXu9v_aqqMRAHD1ig6TGN1Ku5OESNwrNMzXfHEFMApQDjGeCkFCrI3g-SCTb399_1FqRK4r_8AAAAAT2sfBkA" # A pyrogram String Session

BOT_TOKEN = "5468931327:AAGtFTfw42qHobf91iQD-6MWoZPZ55PnXnc" # Get a token from @botFather

API_ID = "19360347" # Get this value from https://my.telegram.org

API_HASH = "b73dee54ba45d3f9d1480f1be9f1339b" #  Get this value from https://my.telegram.org

SUDO_USERS = "5329681433" # For multiple Users Use Space

DURATION_LIMIT = "60" # In Mins (EX :- 60)

ASSISTANT_NAME = "5329681433" # Fill there Your Assistant Username without @

BOT_USERNAME = "Romeo_RJ_music_1bot" # fill there Your Bot Username Without @

UPDATES_CHANNEL = "" # Support Channel Link if you have any, Leave blank if no support. Your Username must start without @

GROUP_SUPPORT = "" #Support Group Link if you have any, Leave blank if no support. Your Username must start without @
